/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v28-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v28-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/rubik-v28-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-v28-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.menu_top {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  margin-top: 45.62px;
}
.menu_top .logo_top {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-left: 150px;
  padding-right: 175px;
}
.menu_top .logo_top .logo_text {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.menu_top .logo_top .text_lasles {
  color: #0b132a;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.menu_top .logo_top .text_vpn {
  color: #0b132a;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.menu_top .header_list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  padding-right: 150px;
}
.menu_top .header_list .header_link {
  color: #4f5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.menu_top .header_list .header_link:hover,
.menu_top .header_list .header_link:focus,
.menu_top .header_list .header_link:active {
  opacity: 0.75;
}
.menu_top .right_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 30px;
  margin-right: 150px;
}
.menu_top .right_menu .text_right_menu {
  color: #0b132a;
  width: 53px;
  height: 19px;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.menu_top .right_menu .btn_top {
  background: 0;
  width: 150px;
  height: 45px;
  border-radius: 50px;
  border: 0;
  color: #f53855;
  align-items: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  box-shadow: 5px 5px 50px #0b132a;
}
.menu_top .right_menu .button_top:hover {
  transform: rotate(50deg);
}
.menu_top .right_menu .text_right_menu:hover {
  cursor: pointer;
}
.menu_top .right_menu .btn_top:hover {
  cursor: pointer;
}

/*header right menu end*/
/*section first styles start*/
.first_section .text_first {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  padding-top: 129.15px;
  margin-left: 150px;
}
.first_section .text_intro {
  width: 555px;
  height: 140px;
  padding-bottom: 20px;
}
.first_section .h1 {
  color: #0b132a;
  text-shadow: 2px 2px #0b132a;
  font-family: Rubik;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px; /* 140% */
}
.first_section .h1:hover {
  transform: scale(1.5);
}
.first_section .lasles_vpn {
  color: #0b132a;
  font-family: Rubik;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
}
.first_section .p1 {
  color: #4f5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  width: 555px;
  height: 60px;
  padding-bottom: 50px;
}
.first_section .lasles_vpn_p1 {
  color: #4f5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.first_section .btn_get {
  width: 250px;
  height: 60px;
  border-radius: 10px;
  background: #f53838;
  border: 0;
  color: #fff;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 156.25% */
}
.first_section .button_get {
  width: 211.829px;
  height: 60px;
  box-shadow: 30px 15px 35px;
  color: #f53838;
}
.first_section .text_foto {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.first_section .foto_top {
  width: 611.241px;
  height: 382.444px;
  margin-right: 83px;
  padding-top: 88.61px;
  padding-bottom: 104.48px;
}

/*section first styles end*/
/*section second styles start*/
.section_seccond .border {
  max-width: 1140px;
  max-height: 200px;
  flex-shrink: 0;
  padding-bottom: 95px;
  border-radius: 10px;
  background: #fff;
  padding-top: 104.48px;
  margin-left: 150px;
}
.section_seccond .svg_icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 134px;
}
.section_seccond .block_us {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36.5px;
}
.section_seccond .us_ic {
  width: 55px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #ffecec;
}
.section_seccond .icon_user {
  padding: 15.5px;
}
.section_seccond .loc_ic {
  width: 55px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #ffecec;
}
.section_seccond .icon_location {
  padding: 15.5px;
}
.section_seccond .ser_ic {
  width: 55px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #ffecec;
}
.section_seccond .icon_server {
  padding: 15.5px;
}
.section_seccond .line1 {
  padding-right: 129px;
}
.section_seccond .line2 {
  padding-right: 107px;
}
.section_seccond .block_loc {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36.5px;
}
.section_seccond .block_servers {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 90.5px;
  gap: 36.5px;
}
.section_seccond .numb {
  color: #0b132a;
  font-family: Rubik;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 120% */
}
.section_seccond .name {
  color: #4f5665;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.section_seccond .icon_user {
  width: 24px;
  height: 24px;
}
.section_seccond .ic_user {
  width: 55px;
  height: 55px;
  border-radius: 70px;
  background: #ffecec;
  text-align: center;
}
.section_seccond .ic_loc {
  width: 55px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 70px;
  background: #ffecec;
  text-align: center;
}
.section_seccond .icon_location {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.section_seccond .icon_server {
  width: 24px;
  height: 24px;
}
.section_seccond .ic_ser {
  width: 55px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 70px;
  background: #ffecec;
  text-align: center;
}

/*section second styles end*/
/*section three styles start*/
.trhee_section .foto_man_two {
  margin-left: 184.52px;
  width: 508.12px;
  height: 414.715px;
  flex-shrink: 0;
  padding-bottom: 131px;
}
.trhee_section .text_foto_second {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 200px;
}
.trhee_section .h1_we {
  color: #0b132a;
  width: 383px;
  height: 100px;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 142.857% */
  padding-top: 150px;
}
.trhee_section .text_p2 {
  color: #4f5665;
  width: 450px;
  height: 60px;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.trhee_section .string {
  display: flex;
  align-items: center;
  gap: 10px;
}
.trhee_section .check_table {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.trhee_section .column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.trhee_section .icon_icon-checkmark {
  width: 24px;
  height: 24px;
}
.trhee_section .text_table {
  color: #4f5665;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}

/*section three styles end*/
/*section for styles start*/
.section_for {
  background: linear-gradient(180deg, #f8f8f8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
  margin-top: 130px;
}
.section_for .text_center_p1 {
  color: #0b132a;
  text-align: center;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 142.857% */
}
.section_for .text_center_p2 {
  color: #4f5665;
  width: 550px;
  height: 60px;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  padding-bottom: 60px;
}

/*illustration style start*/
.illustration_block {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-left: 170px;
}
.illustration_block .illustration_free {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 330px;
  height: 760px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #ddd;
  background: #fff;
  padding-top: 80px;
}
.illustration_block .surprice {
  position: relative;
  animation-name: surprice;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes surprice {
  0% {
    left: 0%;
  }
  50% {
    border-radius: 0%;
  }
  100% {
    left: 50%;
  }
}
.illustration_block .free_p {
  color: #0b132a;
  padding-bottom: 30px;
  text-align: center;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  padding-top: 30px;
}
.illustration_block .free_column {
  display: flex;
  align-items: center;
  gap: 20.17px;
}
.illustration_block .text_table_free {
  color: #4f5665;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
  padding-bottom: 10px;
}
.illustration_block .free_p2 {
  color: #0b132a;
  text-align: center;
  font-family: Rubik;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 120% */
  padding-bottom: 20px;
  padding-top: 130px;
}
.illustration_block .btn {
  width: 177.876px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 2px solid #f53838;
  color: #f53838;
  background: 0;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  box-shadow: 5px 5px 25px;
}
.illustration_block .text_column2 {
  color: #0b132a;
  text-align: center;
  font-family: Rubik;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 120% */
  color: #4f5665;
  font-family: Rubik;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.illustration_block .text_9 {
  padding-bottom: 20px;
  color: #0b132a;
  text-align: center;
  font-family: Rubik;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 120% */
}
.illustration_block .text_mo {
  color: #4f5665;
  font-family: Rubik;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.illustration_block .text_button_9 {
  padding-top: 90px;
}
.illustration_block .illustration_free_last {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 330px;
  height: 760px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #f53838;
  background: #fff;
}
.illustration_block .text_button_12 {
  padding-top: 50px;
}
.illustration_block .btn_premium {
  width: 177.876px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #f53838;
  color: #fff;
  border: 0;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  box-shadow: 5px 10px 35px #f53855;
}
.illustration_block .icon_checkmark {
  width: 24px;
  height: 24px;
}

/*illustration style end*/
/*text global styles start*/
.text_all_huge {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.text_all_huge .text_global {
  color: #0b132a;
  width: 383.406px;
  text-align: center;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 142.857% */
}
.text_all_huge .text_global2 {
  color: #4f5665;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.text_all_huge .laslesvpn_global {
  color: #4f5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.text_all_huge .all_text_p2 {
  width: 555px;
  padding-bottom: 155.81px;
}

/*text global styles end*/
/*section five styles start*/
.section_five .text_all_huge {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.section_five .text_all_huge .text_global {
  color: #0b132a;
  width: 383.406px;
  text-align: center;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 142.857% */
}
.section_five .text_all_huge .text_global2 {
  color: #4f5665;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.section_five .text_all_huge .laslesvpn_global {
  color: #4f5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.section_five .text_all_huge .all_text_p2 {
  width: 555px;
  padding-bottom: 155.81px;
}
.section_five .map {
  width: 1060px;
  height: 537.771px;
  flex-shrink: 0;
  fill: #dde0e4;
  margin-left: 189px;
  opacity: 0.5;
  padding-bottom: 109px;
}
.section_five .logo_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 150px;
  padding-left: 150px;
  padding-bottom: 125px;
}

/*section six styles start*/
.section_six .icon_Group {
  width: 135px;
  height: 15px;
  flex-shrink: 0;
  padding-left: 150px;
}
.section_six .icon_Group .group_button {
  display: flex;
  justify-content: space-between;
}
.section_six .icon_Group .arrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  text-align: center;
  padding-right: 150px;
  margin-bottom: 151px;
}
.section_six .icon_Group .arrow_back {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 50px;
  background-color: 0;
  border: 2px solid #f53838;
  color: #f53838;
}
.section_six .icon_Group .arrow_forward {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #f53838;
  color: #f8f8f8;
}
.section_six .icon_Group .material-symbols-outlined {
  padding: 15px;
}
.section_six .text_customer_all {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.section_six .text_customer_all .text_customer {
  color: #0b132a;
  width: 447.805px;
  text-align: center;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 142.857% */
}
.section_six .text_customer_all .text_customer2 {
  color: #4f5665;
  width: 555px;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  padding-bottom: 60px;
}
.section_six .card {
  display: flex;
  gap: 50px;
  padding-left: 150px;
  padding-bottom: 82.5px;
}
.section_six .card .robbert_card {
  width: 400px;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #f53838;
  background: #fff;
}
.section_six .card .robbert_card .all_robbert {
  display: flex;
  flex-wrap: wrap;
}
.section_six .card .robbert_card .robbert_foto {
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.section_six .card .robbert_card .name_country_robbert {
  display: flex;
  flex-direction: column;
  padding-top: 36.5px;
}
.section_six .card .robbert_card .name_robbert {
  display: flex;
  width: 112px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #0b132a;
  padding-left: 20px;
  text-align: center;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}
.section_six .card .robbert_card .country_robbert {
  color: #4f5665;
  padding-left: 10px;
  text-align: center;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}
.section_six .card .robbert_card .text_robbert {
  display: flex;
  width: 340px;
  height: 100px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #0b132a;
  padding-left: 30px;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.section_six .card .robbert_card .star_text_robbert {
  display: flex;
  flex-direction: row;
  padding-left: 115px;
  padding-top: 47.35px;
}
.section_six .card .robbert_card .text_star_robbert {
  display: flex;
  width: 24px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #0b132a;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.section_six .card .robbert_card .star_robbert {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  padding-left: 10px;
}
.section_six .card .christy_card {
  width: 400px;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #ddd;
}
.section_six .card .christy_card .christy_foto {
  padding: 30px 30px;
  padding-bottom: 8px;
}
.section_six .card .christy_card .all_christy {
  display: flex;
  flex-wrap: wrap;
}
.section_six .card .christy_card .name_country_christy {
  display: flex;
  flex-direction: column;
  padding-top: 36.5px;
}
.section_six .card .christy_card .name_christy {
  display: flex;
  width: 142.022px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #0b132a;
  padding-bottom: 5px;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}
.section_six .card .christy_card .country_christy {
  display: flex;
  width: 109.358px;
  height: 14px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #4f5665;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}
.section_six .card .christy_card .star_text {
  display: flex;
  flex-direction: row;
  padding-left: 77.98px;
  padding-top: 47.35px;
}
.section_six .card .christy_card .text_star {
  display: flex;
  width: 24px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #0b132a;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.section_six .card .christy_card .star {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  padding-left: 10px;
}
.section_six .card .christy_card .text_christy {
  width: 340px;
  height: 100px;
  flex-shrink: 0;
  color: #0b132a;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  padding-left: 30px;
}
.section_six .card .kim_card {
  width: 400px;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #ddd;
  margin-bottom: 60px;
}
.section_six .card .kim_card .all_kim {
  display: flex;
  flex-wrap: wrap;
}
.section_six .card .kim_card .kim_foto {
  padding: 30px 30px;
  padding-bottom: 3px;
}
.section_six .card .kim_card .name_country_kim {
  display: flex;
  flex-direction: column;
  padding-top: 36.5px;
}
.section_six .card .kim_card .name_kim {
  display: flex;
  width: 142.022px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #0b132a;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}
.section_six .card .kim_card .country_kim {
  display: flex;
  width: 127.338px;
  height: 14px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #4f5665;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}
.section_six .card .kim_card .text_kim {
  display: flex;
  width: 340px;
  height: 100px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #0b132a;
  padding-left: 30px;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

/*block card styles end*/
.section_seven {
  max-width: 1140px;
  height: 233px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  padding-left: 150px;
}
.section_seven .text_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
}
.section_seven .subscribe {
  display: flex;
  width: 371.615px;
  height: 80px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #0b132a;
  padding-bottom: 20px;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px; /* 128.571% */
}
.section_seven .lets {
  display: flex;
  width: 410px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #4f5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.section_seven .btn_sub {
  width: 250px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f53838;
  text-align: center;
  align-items: center;
  box-shadow: 5px 5px 35px #f53838;
}
.section_seven .btn_subscribe {
  color: #fff;
  background: none;
  border: 0;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 156.25% */
  padding: 17.5px;
  text-shadow: 1px 1px #0b132a;
}

/*footer styles log start*/
.footer {
  background: #f8f8f8;
  padding-top: 50px;
}
.footer .colomns {
  display: flex;
  flex-direction: row;
}
.footer .colomns .logo_colmn {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer .colomns .logo_colmn .logo_bot {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  padding-left: 150px;
  padding-right: 175px;
  gap: 10px;
}
.footer .colomns .logo_colmn .text_log {
  width: 340px;
  height: 61.573px;
  flex-shrink: 0;
  padding-left: 150px;
  padding-top: 20px;
}
.footer .colomns .logo_colmn .web_log {
  display: flex;
  flex-direction: row;
  padding-left: 150px;
  padding-top: 30px;
}
.footer .colomns .logo_colmn .faceboock {
  width: 33.6px;
  height: 33.6px;
  flex-shrink: 0;
  border-color: 0;
}
.footer .colomns .logo_colmn .twitter {
  width: 33.6px;
  height: 33.6px;
  flex-shrink: 0;
}
.footer .colomns .logo_colmn .instagram {
  width: 33.6px;
  height: 33.6px;
  flex-shrink: 0;
}
.footer .colomns .logo_colmn .lasles_log {
  padding-left: 150px;
  padding-top: 30px;
}
.footer .colomns .logo_colmn .p1_las {
  color: #4f5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
}
.footer .colomns .logo_colmn .sp_las1 {
  color: #4f5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.footer .colomns .logo_colmn .lasles_p {
  color: #afb5c0;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.footer .colomns .logo_colmn .vpn_bot {
  color: #afb5c0;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.footer .colomns .column_product {
  display: flex;
  flex-direction: column;
  padding-left: 230px;
}
.footer .colomns .column_product .product_h1 {
  color: #0b132a;
  padding-bottom: 20px;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}
.footer .colomns .column_product .product_item {
  color: #4f5665;
  gap: 10px;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.footer .colomns .column_engage {
  display: flex;
  flex-direction: column;
  padding-left: 129px;
}
.footer .colomns .column_engage .engage_h1 {
  color: #0b132a;
  padding-bottom: 20px;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}
.footer .colomns .column_engage .engage_item {
  color: #4f5665;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.footer .colomns .column_earn {
  display: flex;
  flex-direction: column;
  padding-right: 169px;
}
.footer .colomns .column_earn .earn_h1 {
  color: #0b132a;
  padding-bottom: 20px;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}
.footer .colomns .column_earn .earn_item {
  color: #4f5665;
  gap: 10px;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

/*# sourceMappingURL=styles.css.map */
